<!DOCTYPE html>
<html lang="en">
<head>
    <title> Steam™ - Search </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<header style="position: sticky; top: 0; left: 0; z-index: 301;">
    <input type="checkbox" id="toggler">

      <label for="toggler">
        <span class="hamburger-container">
          <span class="dash"></span>
          <span class="dash"></span>
        </span>
        <span class="menu_text">
          <span id="greeting_text"> {{greeting_text}} </span>
          <span>Steam™</span>
        </span>
      </label>

    <div class="nav-items">
        <ul>
            <li><a [routerLink]="['/index']" [queryParams]="{username: username}">MySteam</a></li>
            <li><a href="#">Search</a></li>
            <li><a [routerLink]="['/']">Logout</a></li>
        </ul>
    </div>
</header>

<span class="label_text">
    &lt; Search &gt;
</span>
<span class="tool_bar">
        <a [routerLink]="['/index']" [queryParams]="{username: username}"><i class="fas fa-chevron-left"></i></a>
    </span>

<form class="searchform" onsubmit="return false">
    <input type="text" name="query" id="query" placeholder="Query Here" [(ngModel)]="queryText">
    <button type="submit" id="submit" (click)="search(queryText)">Search</button>
</form>

<div id="page_container" class="page-container" style="top: 15rem; left:4rem;">
    <div class="card-container" *ngFor="let card of _cardList" [attr.data-series-id]="card.seriesId">
        <div class="cover">
            <img [src]="card.posterLink" class="film_pic">
            <span class="film_name"> {{card.title}} </span>
        </div>
        <div class="back">
          <div class="back-info">
            <label class="text_titel">Titel: <span class="span_titel"> {{card.title}} </span></label>
            <label class="text_season">Season: <span class="span_season"> {{card.season}} </span></label>
            <label class="text_genre">Genre: <span class="span_genre"> {{card.genre}} </span></label>
            <label class="text_platform">Platform: <span [ngClass]="card.platform"> {{card.platform}} </span></label>
            <label class="text_rating">Rating: 
              <span [ngClass]="card.rating"> {{card.rating}} 
                <ng-template [ngIf]="card.rating == 'mediocre'"><i class="fas fa-star"></i></ng-template>
                <ng-template [ngIf]="card.rating == 'good'"><i class="fas fa-star"></i><i class="fas fa-star-half"></i></ng-template>
                <ng-template [ngIf]="card.rating == 'very_good'"><i class="fas fa-star"></i><i class="fas fa-star"></i></ng-template>
                <ng-template [ngIf]="card.rating == 'bad'"><i class="fas fa-star-half"></i></ng-template>
              </span>
            </label>
            <label class="text_remark">Remark: <span class="span_remark"> {{card.remark}} </span></label>
            <label class="text_username" style="font-size: 1.2rem;">EditBy: <span class="span_username">{{card.username}}</span></label>
          </div>
          <div class="icon-top">
            <a class="poster_icon" [href]="card.posterLink"><i class="far fa-images"></i></a>&nbsp;
          </div>
        </div>
    </div>
</div>


</body>

</html>
