footer {
    top: calc(100% - 84px);
}



.searchform {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    transform: scale(1.5);
    background:#f4f4f4;
    background:rgba(244,244,244,.79);
    border: 1px solid #d3d3d3;
    top: 8.5rem;
    left: 10rem;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    width: 400px;
    box-shadow:0 4px 9px rgba(0,0,0,.37);
    -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
    -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.searchform:before {
    content:"";
    display:table;
}

.searchform:after {
    content:"";
    display:table;
    clear:both;
}

.searchform input, .searchform button {
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.searchform input {
    background:#fefefe;
    border: none;
    font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: 330px;
    box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}
.searchform input:focus {
    outline: none;
    box-shadow:0 0 4px #0d76be inset;
    -moz-box-shadow:0 0 4px #0d76be inset;
    -webkit-box-shadow:0 0 4px #0d76be inset;
}
.searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform button {
    background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    position: absolute;
    right: 3px;
    color:#fff;
    cursor: pointer;
    font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 10px;
    width:auto;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}
.searchform button:hover {
    opacity:.9;
}


html {
    font-size: 25px;
    font-family: "Oswald", sans-serif;

    height: 100%;
  }
  
  .very_good {
    padding: 6px;
    background-color: darkgreen;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
  }

  .good {
    padding: 6px;
    background-color: forestgreen;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
  }
  .mediocre {
    padding: 6px;
    background-color: coral;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
  }
  .bad {
    padding: 6px;
    background-color: firebrick;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
  }
  
  .rating_titel span i {
    color: yellow;
  }
  
  .tool_bar {
    position: absolute;
    display: block;
    height: 40px;
    width: auto;
    top: 4rem;
    right: 5rem;
    transform: scale(1.3);
    color: #fff;
    text-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.4);
  }
  
  .tool_bar i {
    height: 40px;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .tool_bar div {
    display: inline-block;
  }
  
  
  #toggler:checked + label .hamburger-container span:nth-child(1) {
    transform: rotate(45deg);
    top: 4px;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  }
  
  #toggler:checked + label .hamburger-container span:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  }
  
  #toggler {
    display: none;
  }
  
  .hamburger-container {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 16px;
  }
  
  .hamburger-container span {
    display: block;
    height: 1px;
    background-color: white;
    position: relative;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
    top: 0;
  }
  
  .hamburger-container span:nth-child(2) {
    margin-top: 7px;
  }
  
  header {
    background-color: rgba(1, 1, 1, 0.68);
    height: 44px;
    padding: 2px 18px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    background-color: rgba(1, 1, 1, 0.68);
    height: 40px;
    top: calc(100% - 84px);
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 5px 5px 0 0;
  }
  
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(
      to left,
      rgba(31, 179, 237, 1) 11.2%,
      rgba(17, 106, 197, 1) 91.1%
    );
    background-size: cover;
    background-position: center;
  }
  
  .nav-items {
    background: linear-gradient(to top, rgba(1, 1, 1, 0.43), rgba(1, 1, 1, 0.68));
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top: 48px;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s;
    transform-origin: 0% 0;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    z-index: 100;
  }
  
  #toggler:checked ~ .nav-items {
    transform: scaleY(1);
    opacity: 1;
  }
  
  header ul {
    /*   margin-top: 1em; */
    display: flex;
    justify-content: space-evenly;
  }
  
  header ul li {
    font-size: 30px;
    color: #fff;
    list-style: none;
    text-decoration: none;
  
    float: left;
  }
  
  header ul > li a {
    display: block;
    padding: 25px 8px;
    color: #fff;
    text-decoration: none;
  }
  
  header ul li a:hover {
    background-color: rgba(1, 1, 1, 0.33);
    border-radius: 10px;
  }
  
  span.label_text {
    font-size: 40px;
    display: block;
    color: #fff;
    position: absolute;
    left: 1.8rem;
    top: 3.1rem;
  }

  div.back_info text span {
    display: block;
    text-align: right;
  }
  
  .text_rating span i {
    color: yellow;
  }
  span.menu_text {
    display: block;
    color: #fff;
    position: relative;
    text-align: right;
    bottom: 1rem;
  }
  
  span.menu_text span:nth-child(2) {
    margin-left: 2rem;
  }
  
  .card-container {
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 300px;
    height: 400px;
    position: relative;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.4s;
  }
  
  .card-container:hover {
    transform: scale(1.08);
  }

  .cover,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.9s ease-in-out;
    border-radius: 5%;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0 0.2rem 0.5rem rgba(0, 0, 0, 0.1) inset;
    text-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    transform: rotatey(0deg);
    background-image: radial-gradient(
      circle farthest-corner at 50.3% 44.5%,
      rgba(116, 147, 179, 0.9) 0%,
      rgba(62, 83, 104, 0.4) 100.2%
    );
  }
  
  .card-container .create-card-back {
    transform: rotatey(-180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.9s ease-in-out;
    border-radius: 5%;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0 0.2rem 0.5rem rgba(0, 0, 0, 0.1) inset;
    text-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.3);
    color: #fff;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 171, 0, 0.9) 0%,
      rgba(255, 139, 0, 0.9) 90.1%
    );
  }
  .card-container .create-card-cover {
    transform: rotatey(0deg);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.9s ease-in-out;
    border-radius: 5%;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0 0.2rem 0.5rem rgba(0, 0, 0, 0.1) inset;
    text-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 8rem;
    background-image: radial-gradient(
      circle farthest-corner at 50.3% 44.5%,
      rgba(116, 147, 179, 0.9) 0%,
      rgba(62, 83, 104, 0.4) 100.2%
    );
  }
  
  .card-container:hover .cover {
    transform: rotatey(180deg);
  }
  
  .back {
    transform: rotatey(-180deg);
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 171, 0, 0.9) 0%,
      rgba(255, 139, 0, 0.9) 90.1%
    );
  }
  
  .card-container:hover .back {
    transform: rotatey(0deg);
  }
  
  .page-container {
    height: auto;
    width: auto;
    position: absolute;
    top: 8rem;
    left: 2rem;
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    z-index: 1;
  }
  
  img.film_pic {
    width: 220px;
    height: 300px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.18);
  }
  
  span.film_name {
    position: relative;
    align-content: center;
    top: 4%;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
  }

  
  
  .icon-top {
    position: absolute;
    top: 5%;
    right: 10%;
    transform: scale(1.1);
  }
  
  .icon-top i {
    position: relative;
    align-content: center;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .icon-bottom {
    position: absolute;
    bottom: 5%;
    right: 10%;
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .back-info {
    display: flex;
    flex-direction: column;
    padding-top: 19%;
    padding-left: 7%;
  }
  
  .back-info label {
    margin-top: 5%;
  }
  
  #edit_checkbox {
    display: none;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  
  input {
    border: none;
    text-decoration: none;
    background-color: transparent;
    height: 100%;
    font-size: 1.4rem;
    width: 170px;
    outline: none;
    color: rgba(1, 1, 1, 0.7);
  }

  select {
    border-radius: 5%;
    text-decoration: none;
    background-color: transparent;
    height: 100%;
    font-size: 1.3rem;
    width: 170px;
    outline: none;
    color: rgba(1, 1, 1, 0.7);
  }
  
  .Netflix {
    color: red;
    font-family: "verdana";
  }
  
  .AmazonPrime {
    color: #232f3e;
    font-family: "verdana";
  }
  
  .Skye {
    color: #1e90ff;
    font-family: "verdana";
  }
  
  .cate-by {
    transition: opacity 0.9s ease-in-out;
    font-family: sans-serif;
    position: absolute;
    top: 6rem;
    right: 4rem;
    font-size: 15px;
    list-style: none;
    z-index: 101;
  }
  
  .cate-by li {
    float: left;
    margin-right: 1px;
  }
  
  .cate-by li a {
    line-height: 20px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.8);
    color: #666666;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 4%;
  }
  
  .cate-by li a:hover {
    background: #116ac5;
    color: white;
  }
  
  .cate-by li ul {
    font-size: 14px;
    display: none;
    list-style: none;
    padding: 0;
    position: relative;
  }
  
  .cate-by li ul a {
    background: rgba(200, 200, 200, 0.8);
  }
  
  .cate-by li:hover ul {
    display: block;
    width: 80px;
  }
  
  .cate-by li:hover ul li ul {
    display: none;
  }
  
  .cate-by li ul li:hover ul {
    display: block;
    position: absolute;
    top: 0px;
    left: 80px;
  }
  a.poster_icon {
    text-decoration: none;
    color: #fff;
  }